@model IEnumerable<DemonArtAcademy.Models.courseTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departmentTable.depName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departmentTable.depName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseId })
        </td>
    </tr>
}

</table>
