@model DemonArtAcademy.Models.teachingLoad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>teachingLoad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courseTable.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseTable.courseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lecturerTable.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lecturerTable.fullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
